<form [formGroup]="forgetPassForm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <div class="row">
                    <div class="col text-center">
                        <h1>Log In</h1>
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="email" class="form-control"
                            [ngClass]="{ 'is-invalid': isSubmitted && (f.email.invalid && f.email.errors && (f.email.dirty || f.email.touched)) }"
                            formControlName="email" placeholder="Email">
                    </div>
                    <div class="text-danger"
                        *ngIf="isSubmitted && (f.email.invalid && f.email.errors && (f.email.dirty || f.email.touched))">
                        <p class="text-danger" *ngIf="f.email.errors?.required">*required</p>
                        <p class="text-danger" *ngIf="f.email.errors?.pattern">email is invalid</p>
                    </div>
                </div>
                <div class="row justify-content-start mt-4">
                    <div class="col">
                        <button type="submit" (click)="formSubmit()" class="btn btn-primary mt-4 m-3">Submit</button>
                        <button type="button" (click)="back()" class="btn btn-secondary mt-4 m-3">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>